version: "3"
services:

  db:
    image: postgres:latest
    environment:
      POSTGRES_PASSWORD: qt
      POSTGRES_DB: qt
      POSTGRES_USER: qt
    restart: always
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/1-schema.sql:rw
    ports:
      - "5435:5432"

  qt:
    build: ./app/build/
    command: make run
    depends_on:
      - "db"
      - "redis"
    links:
      - "redis"
      - "db"
    ports:
      - "50443:50443"
      - "50444:50444"
    environment:
      postgres_password: qt
      postgres_db: qt
      postgres_user: qt
      postgres_ssl_mode: disable
      postgres_host: "db"
      postgres_port: "5432"
      REDIS_DSN: "redis:6379"


  redis:
    restart: always
    image: redis