name: CI/CD
on: [push]

jobs:

  test:

    runs-on: ubuntu-latest


    steps:
      - uses: actions/checkout@v1
      - name: Build the docker-compose stack
        run: docker-compose  up -d
      - name: Check running containers
        run: docker ps -a
      - name: test
        run: docker exec qt_qt_1 make test