on: [push]

jobs:

  test:

    runs-on: ubuntu-latest


    steps:
      - uses: actions/checkout@v1
      - name: Build the docker-compose stack
        run: docker-compose  up -d
      - name: Check running containers
        run: docker ps -a
      - name: Check logs
        run: docker logs qt_qt_1
      - name: test
        run: docker exec qt_qt_1 make test
#      - name: Upload artifact
#        uses: actions/upload-artifact@v2
#        with:
#          name: myimage
#          path: build/my_image.tar

#
#  test:
#    needs: build
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v2
#      - name: Download artifact
#        uses: actions/download-artifact@v2
#        with:
#          name: myimage
#          path: build
#      - name: Check running containers
#        run: docker ps -a
#      - name: test
#        run: docker exec -it qt_qt_1 make test